mixin addValue(obj)
  if obj.owner === _id
    div
      form.autologin.siteForm(method="post",action="",name=`${obj.siteUrl}`) 
        input(type="hidden", name="getUrl", value=`${obj.siteUrl}`)
        div.form_container
          div.contents
            input.selectSite(type="checkbox", name="selectSite", onclick="selectCheckbox(this)")
          div.contents(style="overflow: hidden; white-space: pre; word-break: nowrap;")
            span.value
              img(src="/img/prontbar.png", alt="")
              a(onclick="toggle()") #{obj.siteName}
          div.contents(style="overflow: hidden; white-space: pre; word-break: nowrap;")
            span.value
              img(src="/img/prontbar.png", alt="")
              span=obj.siteDetail
          div.contents(style="overflow: hidden; white-space: pre; word-break: nowrap;")
            span.value
              img(src="/img/prontbar.png", alt="")
              span=obj.memo
          div.contents.hidden
            span.value(style="display:none;")=obj.inputId
            a(onclick="copytext()")
              img(src="/img/copyid.png", alt="")
            input.hiddenTarget(type="hidden", value="아이디복사")
          div.contents.hidden
            span.value(style="display:none;")=obj.inputPw
            a(onclick="copytext()")
              img(src="/img/copypw.png", alt="")
            input.hiddenTarget(type="hidden", value="비번복사")
          a.siteEditBtn(onclick="siteEdit()", name=`${obj._id}`)
            img(src="/img/penpink.png", alt="수정")
          a.deleteRowBtn(onclick="deleteSite()", name=`${obj._id}`)
            img(src="/img/tmfprl.png", alt="삭제")
          div.contents
            input(type="hidden", name="rowId", value=`${obj._id}`)
          //- input.deleteRowBtn(type="button", value="삭제", onclick="deleteSite()",name=`${obj.siteUrl}`)