mixin addField(str)
  if str!=="owner"
    div.contents=str 

mixin addValue(obj)
  if obj.owner === _id
    div
      form.autologin.siteForm(method="post",action="/autologin",name=`${obj.siteUrl}`) 
        input(type="hidden", name="getUrl", value=`${obj.siteUrl}`)
        div.contents
          div.contents
            span.value=obj.siteUrl  
          div.contents
            span.value=obj.siteName
          input(type="submit", value="자동로그인")
          input.deleteRowBtn(type="button", value="삭제", onclick=`deleteSite()`,name=`${obj.siteUrl}`)

          script.
            function deleteSite(){
              const deleteBtn = event.target
              const targetForm = deleteBtn.parentNode.parentNode
              targetForm.action="/deleteRow"
              targetForm.submit()
            }