div.contents 
  input.selectSiteAll(type="checkbox", name="selectSite", onclick="selectAll(this)") 
  |전체선택
div.contents 
  input(type="button", value="전체로그인", onclick=`loginAll()`)
mixin addField(str)
  if str !== "owner"
    div.contents=str 

mixin addValue(obj)
  if obj.owner === _id
    div
      form.autologin.siteForm(method="post",action="/autologin",name=`${obj.siteUrl}`) 
        input(type="hidden", name="getUrl", value=`${obj.siteUrl}`)
        div.contents
          div.contents
            input.selectSite(type="checkbox", name="selectSite")
          div.contents
            span.value=obj.siteUrl 
          div.contents
            span.value=obj.siteName
          input(type="submit", value="자동로그인")
          input.deleteRowBtn(type="button", value="삭제", onclick=`deleteSite()`,name=`${obj.siteUrl}`)

          script.
            function loginAll(){
              const checkboxArray = []
              const countCheckbox = document.querySelectorAll(".selectSite")
              for(let i = 0; i < countCheckbox.length; i++)
                checkboxArray.push(countCheckbox[i].parentNode.parentNode.childNodes[1].innerText)
            }
            function deleteSite(){
              const deleteBtn = event.target
              const targetForm = deleteBtn.parentNode.parentNode
              targetForm.action="/deleteRow"
              targetForm.submit()
            }
            function selectAll(selectAll){
              const checkbox = document.getElementsByName("selectSite")
              let i = 1
              let urlArray = [];
              checkbox.forEach((check) => {
                check.checked = selectAll.checked
                if(i !== 1)
                  urlArray.push(check.parentNode.nextSibling.firstChild.innerText)
                i++
              })
              console.log(urlArray)
            }