extends base

block content
  div.main_container
    div.main_left
      include partials/sidebar
      img(src="/img/ed1.png")
    div.main_center
      include mixins/addField
      div.siteListField
        div.fieldAlign
          each item in keyList 
            +addField(item)  
        div
          each item in values
            +addValue(item)
      input.addBtn#open(type="button", value="+")

      form.modal__form(method="post") 
        div.modal.hidden
          div.modal__overlay
          div.modal__content
            div.modal__content__H
              h1 
              div
                button.modal_close(type="button") ✕
            div.modal__content__layout
              div.modal__content__L
                input.siteUrl(placeholder="사이트 Url", type="text", name="siteUrl", autofocus, required)
                input.siteName(placeholder="사이트 이름", type="text", name="siteName",required)
                input.siteDetail(placeholder="사이트 설명", type="text", name="siteDetail", value="")
              div.modal__content__R
                input.inputId(placeholder="ID", type="text", name="inputId", value="")
                input.inputPw(placeholder="PW", type="text", name="inputPw", value="")
                input.modalSwitch(type="hidden", name="modalSwitch")
            div.modal__content__F
              h2 
                |사이트 상세는 편집한 개인에게만 보입니다.
              input(type="submit", value="저장")
    div.main_right
      div.dummy
        ul 
          li 
      img(src="/img/stella1.png")
    block banner 
      include partials/banner
        script.
          const h1 = document.querySelector("h1")
          const openButton = document.getElementById("open")
          const modal = document.querySelector(".modal")
          const overlay = modal.querySelector(".modal__overlay")
          const modal_close = document.querySelector(".modal_close")
          const siteUrl = document.querySelector(".siteUrl")
          const siteName = document.querySelector(".siteName")
          const siteDetail = document.querySelector(".siteDetail")
          const inputId = document.querySelector(".inputId")
          const inputPw = document.querySelector(".inputPw")
          const modalSwitch = document.querySelector(".modalSwitch")

          function inputClear(){
            siteUrl.value=""
            siteName.value=""
            siteDetail.value=""
            inputId.value=""
            inputPw.value=""
          }
          const openModal = () => {
            modalSwitch.value = 0
            inputClear()
            h1.innerText = "추가할 사이트 정보를 입력해주세요."
            modal.classList.remove("hidden")
          }
          const openEditModal = () => {
            modalSwitch.value = 1
            h1.innerText = "수정할 사이트 정보를 입력해주세요."
            modal.classList.remove("hidden")
          }
          const closeModal = () => {
            inputClear()
            modal.classList.add("hidden")
          }
          overlay.addEventListener("click", closeModal)
          openButton.addEventListener("click", openModal)
          modal_close.addEventListener("click", closeModal)